{% extends 'base.html' %}

{% block content %}
<div class="container" style="position: relative; top: 50px; background-color: #ffffff00; overflow: visible;">
    {% for i in tournaments %}
    <div class="card shadow text-white bg-dark" style="margin-bottom: 50px">
        {% load static %}
        <img src="{% static mode_img %}" class="card-img-top">
        <div class="card-body" style="background-color: #262626;">
            <h3 class="card-title text-center">{{ i.title }}</h3>
            <p class="card-text">{{ i.description }}</p>
            <a href="{% url 'tournament' i.ref %}" class="btn btn-primary">Переход куда-нибудь</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}