{% extends 'base_acc.html' %}

{% block content %}
<div class="header">
  <nav class="navbar navbar-expand-lg">
      <h2 style="font-weight: 700;"><i class="fas fa-user-circle"></i> Account</h2>
  </nav>
</div>
<div class="content" style="padding-right: 50px;">
    <div class="row">
        <div class="col-md-10">
            <div class="container" style="position: relative; padding: 0px;">
                <div class="container-header" style="width: 100%; position: relative; border-radius: 10px 10px 0 0;">
                    Edit your profile
                </div>
                <div class="container-content shadow" style="border-radius: 0 0 10px 10px;">
                    <div class="row">
                        <div class="col-12">
                            {% if success %}
                            <div class="alert alert-success">
                                {{ success }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            {% endif %}
                            {% if error %}
                            <div class="alert alert-danger">
                                {{ error }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <form method="POST" enctype="multipart/form-data" name="profile">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="example-1">
                                            <div class="form-group">
                                                <div class="photo">
                                                    <img src="{{ photo.url }}" class="test">
                                                    <label class="label">
                                                        <i class="material-icons">attach_file</i>
                                                        {% csrf_token %}
                                                        {{ profile_form.photo }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="first_name">First name</label>
                                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ first_name }}" requaried>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="last_name">Last name</label>
                                                <input type="text" class="form-control" name="last_name" id="last_name" value="{{ last_name }}" requaried>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="username">Login</label>
                                                <input type="text" class="form-control" name="username" id="username" value="{{ username }}" requaried>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" name="email" id="email" value="{{ email }}" requaried>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 offset-md-10 text-right">
                                        <input type="submit" class="btn btn-primary blue" value="Update"></input>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="container shadow" style="padding: 0px;">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <a class="btn btn-link disabled" type="button" href="{% url 'profile' %}" aria-disabled="true" style="width: 100%">
                            General
                        </a>
                    </h5>
                </div>
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="btn btn-link" type="button" href="{% url 'profile_statistics' %}" style="width: 100%">
                            Statistics
                        </a>
                    </h5>
                </div>
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <a class="btn btn-link" type="button" href="{% url 'profile_integrations' %}" style="width: 100%">
                            Integrations
                        </a>
                    </h5>
                </div>
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <a class="btn btn-link" type="button" href="{% url 'profile_security' %}" style="width: 100%">
                            Security
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}