{% extends 'base.html' %}

{% block extended_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'user.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" style="position: relative; padding: 0;  ">
    <div class="user-img">
        {% if bg != 'default' %}
        <img src="{% get_static_prefix %}backgrounds/{{bg}}.gif">
        {% endif %}
    </div>
    <div class="profile-info">
        <div class="user-photo">
            <img src="{{ photo.url }}">
        </div>
        <div class="user-info text-center">
            <div class="name">
                {{ username }}
            </div>
            <div class="stat">
                <div class="min text-left">
                    0
                </div>
                <div class="max text-right">
                    1
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
                </div>
            </div>
        </div>
        <div class="user-finished-tournaments text-center">
            <h4>Finished tournaments</h4>
            <hr></hr>
            <h7><i class="fas fa-times"></i> Not Found</h7>
        </div>
    </div>
</div>
{% endblock %}