{% extends 'base_acc.html' %}

{% block content %}
<div class="header">
  <nav class="navbar navbar-expand-lg">
      <h2 style="font-weight: 700;"><i class="fas fa-archive"></i> Archives</h2>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav justify-content-end">
              <li class="nav-item">
                  <a href="{% url 'create_tournament' %}" class="btn btn-success sea" style="width: 130px; font-size: 18px;"><i class="fas fa-plus"></i> Create</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'my_tournaments' %}" class="btn btn-primary purple" style="width: 200px; font-size: 18px;"><i class="far fa-folder-open"></i> My tournaments</a>
              </li>
          </ul>
      </div>
  </nav>
</div>
<div class="content" style="padding-right: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="container shadow" style="position: relative; padding: 0px;">
                <div class="container-header" style="width: 100%; position: relative; border-radius: 10px 10px 0 0;">
                    Archived Tournaments
                </div>
                <div class="container-content" style="border-radius: 0 0 10px 10px;">
                    {% if mode_main == "main.css" %}
                    <table class="table text-center">
                    {% else %}
                    <table class="table text-center" style="color: #fff;">
                    {% endif %}
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Free Agents</th>
                            <th scope="col">Console</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in tournaments %}
                            <tr>
                                <th scope="row">{{ item.title }}</th>
                                <td>{{ item.date }}</td>
                                <td>>{{ item.time }}</td>
                                <td>{{ item.members_count }}</td>
                                <td><a href="{% url 'console_tournament' item.ref %}" class="btn btn-primary purple" style="width: 100px; font-size: 10px;">Console</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}