.purple {
	background-color: #ff1576 !important;
	border-color: #ff1576 !important;
	font-weight: 450 !important;
}

.purple:hover {
	background-color: #bd1259 !important;
	border-color: #bd1259 !important;
}

.blue {
	background-color: #6a83ff !important;
	border-color: #6a83ff !important;
	font-weight 450 !important;
}

.blue:hover {
	background-color: #5e78fb !important;
	border-color: #5e78fb !important;
}

.sea {
	background-color: #00ffff !important;
	border-color: #00ffff !important;
	color: #ffffff !important;
	text-shadow:
		-0   -1px 0   #5a5a5a,
		 0   -1px 0   #5a5a5a,
		-0    1px 0   #5a5a5a,
		 0    1px 0   #5a5a5a,
		-1px -0   0   #5a5a5a,
		 1px -0   0   #5a5a5a,
		-1px  0   0   #5a5a5a,
		 1px  0   0   #5a5a5a,
		-1px -1px 0   #5a5a5a,
		 1px -1px 0   #5a5a5a,
		-1px  1px 0   #5a5a5a,
		 1px  1px 0   #5a5a5a,
		-1px -1px 0   #5a5a5a,
		 1px -1px 0   #5a5a5a,
		-1px  1px 0   #5a5a5a,
		 1px  1px 0   #5a5a5a;
	font-weight: 500 !important;
}

.sea:hover {
	background-color: #02c5c5 !important;
	border-color: #02c5c5 !important;
}

.twitch_button {
	background-color: #5c008c !important;
	border-color: #5c008c !important;
	color: #fff !important;
}

.twitch_button:hover {
	background-color: #410063 !important;
	border-color: #410063 !important;
	color: #fff !important;
}

.twitch_button:disabled {
	background-color: #410063 !important;
	border-color: #410063 !important;
	color: #fff !important;
}

.youtube_button {
	background-color: #690000 !important;
	border-color: #690000 !important;
	color: #fff !important;
}

.youtube_button:hover {
	background-color: #480000 !important;
	border-color: #480000 !important;
	color: #fff !important;
}

.youtube_button:disabled {
	background-color: #480000 !important;
	border-color: #480000 !important;
	color: #fff !important;
}