.shap {
  box-shadow: 0 0 10px 10px #00000061;
  background-color: #262626;
}

.content {
  margin-top: 25px;
}

.image_tournament {
  position: relative;
  height: 400px;
  width: auto;
  overflow: hidden;
  background-color: #000;
}

.info {
  background-color: #4040408a;
  height: 150px;
  width: 230px;
  border-radius: 10px;
}

.info hr {
  width: 100%;
  padding: 0;
  height: 0;
  border: none;
  border-top: 0.01rem solid #adadadcf;
}

.members {
  position: relative;
  height: 50%;
  top: 35px;
}

.join {
  position: relative;
  bottom: 5px;
  width: 100%;
}

.join button {
  width: 90%;
}

@media (min-width: 1701px) {
  .image_tournament img{
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: auto;
    top: -300px;
  }
}

@media (min-width: 1431px) and (max-width: 1700px) {
  .image_tournament img{
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: auto;
    top: -200px;
  }
}

@media (min-width: 1245px) and (max-width: 1430px) {
  .image_tournament img{
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: auto;
    top: -100px;
  }
}

@media (min-width: 1024px) and (max-width: 1244px) {
  .image_tournament img{
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: auto;
  }
}

.tournament_links {
  background-color: #101010;
  font-size: 20px;
}

.tournament_links .active a{
  color: #e2e2e2 !important;
}

.tournament_links a {
  color: rgba(218, 218, 218, 0.5) !important;
}

.tournament_links a:hover {
  color: #e2e2e2 !important;
}

body {
    background-color: #333333fa !important;
    color: #fff !important;
}

.container a{
  color: #ffffffb3;
}

.container a:hover {
  color: #fff;
  text-decoration: none;
}

.container-fluid{
  position: relative;
  height: 100%;
}

.row {
  height: 100%;
}

.shadow {
  box-shadow: 0px 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}

.example-1 .form-group{
    padding:1em;
    margin:1em;
}

.example-1 input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}

.example-1 .label{
    position: absolute;
    top: 32px;
    width:132px;
    height: 132px;
    border:2px dashed #6d6d6d;
    border-radius:50%;
    display:block;
    padding:1.2em;
    transition:all 300ms ease;
    cursor:pointer;
    text-align:center
}

.example-1 .label:hover {
  background-color: #000000b8;
}

.example-1 .label i{
    position: relative;
    display:block;
    font-size:42px;
    padding-bottom:16px;
    top: 25px;
}

.example-1 .label i, .example-1 .label .title{
    color:#6d6d6d;
    transition:200ms color
}

.example-1 .label:hover{
    border:2px solid #fff
}

.example-1 .label:hover i,.example-1 .label:hover .title{color:#fff}

.container {
  background-color: #262626;
  color: #ffffffd9;
  border-radius: 10px !important;
  padding: 10px;
  overflow: hidden;
}

.card {
    overflow: hidden;
    border-radius: 15px !important;
}

.card-text {
    color: #a7a7a7;
}

.btn-darkmode {
  color: #fff !important;
}

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track {
  background: #333333fa;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 5px;
}

.purple {
	background-color: #ff1576 !important;
	border-color: #ff1576 !important;
	font-weight: 450 !important;
}

.purple:hover {
	background-color: #bd1259 !important;
	border-color: #bd1259 !important;
}

.disabled {
	pointer-events: none;
}

.blue {
	background-color: #6a83ff !important;
	border-color: #6a83ff !important;
	font-weight 450 !important;
}

.blue:hover {
	background-color: #5e78fb !important;
	border-color: #5e78fb !important;
}

.sea {
	background-color: #00ffff !important;
	border-color: #00ffff !important;
	color: #ffffff !important;
	text-shadow:
		-0   -1px 0   #5a5a5a,
		 0   -1px 0   #5a5a5a,
		-0    1px 0   #5a5a5a,
		 0    1px 0   #5a5a5a,
		-1px -0   0   #5a5a5a,
		 1px -0   0   #5a5a5a,
		-1px  0   0   #5a5a5a,
		 1px  0   0   #5a5a5a,
		-1px -1px 0   #5a5a5a,
		 1px -1px 0   #5a5a5a,
		-1px  1px 0   #5a5a5a,
		 1px  1px 0   #5a5a5a,
		-1px -1px 0   #5a5a5a,
		 1px -1px 0   #5a5a5a,
		-1px  1px 0   #5a5a5a,
		 1px  1px 0   #5a5a5a;
	font-weight: 500 !important;
}

.sea:hover {
	background-color: #02c5c5 !important;
	border-color: #02c5c5 !important;
}

.twitch_button {
	background-color: #5c008c !important;
	border-color: #5c008c !important;
	color: #fff !important;
}

.twitch_button:hover {
	background-color: #410063 !important;
	border-color: #410063 !important;
	color: #fff !important;
}

.twitch_button:disabled {
	background-color: #410063 !important;
	border-color: #410063 !important;
	color: #fff !important;
}

.youtube_button {
	background-color: #690000 !important;
	border-color: #690000 !important;
	color: #fff !important;
}

.youtube_button:hover {
	background-color: #480000 !important;
	border-color: #480000 !important;
	color: #fff !important;
}

.youtube_button:disabled {
	background-color: #480000 !important;
	border-color: #480000 !important;
	color: #fff !important;
}