.shap {
  box-shadow: 0 0 10px 3px;
  background-color: #007bff;
}

body {
    background-color: #edeef0 !important;
}

.image_tournament {
  position: relative;
  height: 400px;
  width: auto;
  overflow: hidden;
  background-color: #000;
  color: #fff;
}

.content {
  margin-top: 25px;
}

.info {
  background-color: #7373738a;
  height: 150px;
  width: 230px;
  border-radius: 10px;
}

.info hr {
  width: 100%;
  padding: 0;
  height: 0;
  border: none;
  border-top: 0.01rem solid #adadadcf;
}

.members {
  position: relative;
  height: 50%;
  top: 35px;
}

.join {
  position: relative;
  bottom: 5px;
  width: 100%;
}

.join button {
  width: 90%;
}

@media (min-width: 1701px) {
  .image_tournament img{
    opacity: 0.3;
    width: 100%;
    height: auto;
    position: absolute;
    top: -400px;
  }
}

@media (min-width: 1401px) and (max-width: 1700px) {
  .image_tournament img{
    opacity: 0.3;
    width: 100%;
    height: auto;
    position: absolute;
    top: -300px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .image_tournament img{
    opacity: 0.3;
    width: 100%;
    height: auto;
    position: absolute;
    top: -180px;
  }
}

.tournament_links {
  background-color: #b9b9b9;
  font-size: 20px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.container-fluid{
  position: relative;
  height: 100%;
}

.info_carousel {
	width: 100%;
	padding: 10px;
	text-align: center;
}

.more_tournaments {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

#carouselExampleCaptions {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 7px 10px 1px #00000061;
}

.NF404_tournaments {
	height: 200px;
	width: 100%;
	text-align: center;
	line-height: 50px;
	padding: 60px 0 0 0;
}

.NF404_tournaments p {
	font-size: 20px;
	color: #1b1b1b;
}

.NF404_tournaments i {
	font-size: 50px;
	color: #1b1b1b;
}

.row {
  height: 100%;
}

.shadow {
  box-shadow: 0px 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
}

.example-1 .form-group{
    padding:1em;
    margin:1em;
}

.example-1 input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}

.example-1 .label{
    position: absolute;
    top: 32px;
    width:132px;
    height: 132px;
    border:2px dashed #6d6d6d;
    border-radius:50%;
    display:block;
    padding:1.2em;
    transition:all 300ms ease;
    cursor:pointer;
    text-align:center
}

.example-1 .label:hover {
  background-color: #000000b8;
}

.example-1 .label i{
    position: relative;
    display:block;
    font-size:42px;
    padding-bottom:16px;
    top: 25px;
}

.example-1 .label i, .example-1 .label .title{
    color:#6d6d6d;
    transition:200ms color
}

.example-1 .label:hover{
    border:2px solid #000000
}

.example-1 .label:hover i,.example-1 .label:hover .title{color:#d8d8d8}

.card {
    overflow: hidden;
    border-radius: 15px !important;
}

.card-text {
    color: #1b1b1b;
}

.btn-darkmode {
  color: #fff !important;
}

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track {
  background: #f7efef;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a5a2a2;
  border-radius: 5px;
}